/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.animation-class {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Base Styles */
body {
    font-family: "Outfit", sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    transition: background-color 0.3s ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
    transition: background-color 0.3s ease;

}

h2 {
    font-family: "Unbounded", sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: #D6E6B2;
}

h3 {
    font-family: "Unbounded", sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #D6E6B2;
}

header {
    position: relative;
    margin-bottom: 10rem;
    top: 3vh;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

/* LOGO */
/* animation logo */
@keyframes fadeLogo {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.logo {
    animation: fadeLogo 1s ease-in-out forwards;
    opacity: 0;
    max-width: 180px;
    height: auto;
}

.logo-text {
    animation: fadeText 1s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
    font-family: "Unbounded", sans-serif;
    font-size: 13px;
    color: #394032;
    line-height: 1;
}

/* IMAGE GRID */
.h-image-grid {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100, 1fr));
    gap: 10px;
    max-width: 75%;
}

.image1 {
    grid-area: 1/1/6/5;
}

.image2 {
    grid-area: 1/5/5/8;
}

.image3 {
    grid-area: 1/8/3/10;
}

.image4 {
    grid-area: 6/1/9/3;
}

.image5 {
    grid-area: 6/3/9/5;
}

.image6 {
    grid-area: 5/5/9/8;
}

.image7 {
    grid-area: 3/8/6/10;
}

.image8 {
    grid-area: 6/8/9/10;
}


/* Animation fadeIn */
.h-image-grid .image img {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.h-image-grid .image1 img {
    animation-delay: 0.4s;
}

.h-image-grid .image2 img {
    animation-delay: 0.6s;
}

.h-image-grid .image3 img {
    animation-delay: 0.8s;
}

.h-image-grid .image4 img {
    animation-delay: 0.8s;
}

.h-image-grid .image5 img {
    animation-delay: 1s;
}

.h-image-grid .image6 img {
    animation-delay: 1.2s;
}

.h-image-grid .image7 img {
    animation-delay: 1s;
}

.h-image-grid .image8 img {
    animation-delay: 1.2s;
}


.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* Menu hamburger*/
.menu-barre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 2vw;
    z-index: 3;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #BC4749;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}



.menu-barre.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 9px);
    width: 100%;
}

.menu-barre.open .bar:nth-child(2) {
    opacity: 0;
    transform: scale(0.2);
}

.menu-barre.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -9px);
    width: 100%;
}


/* Cacher le hamburger */
.menu-barre.hidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


/* Popup menu */
.popup-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 18vw;
    height: 100vh;
    background-color: #f2fbe0f2;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 2.5vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

/* ouverture */
.popup-menu.open {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Sommaire */
.popup-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 10vh;
}

.popup-menu ul li {
    margin: 2vh 0;
}

.popup-menu ul li a {
    color: #6A994E;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s ease;
}

.popup-menu ul li a:hover {
    color: #BC4749;
}

.popup-menu ul li:last-child {
    padding-top: 2vh;
}

.popup-menu ul li:last-child a {
    color: #90BA78;
}

.popup-menu ul li:last-child a:hover {
    color: #BC4749;
}


/* animation section */
.presentation-section,
.timeline-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.5 ease-out;
}

.presentation-section.visible,
.timeline-section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Texte de presentation*/
section.presentation-section {
    display: flex;
    justify-content: center;
    padding: 5rem;
    margin-bottom: 10rem;
    height: 100vh;
}

.presentation-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #394032;
}

.p-titre h2 {
    color: #BC4749;
}

.p-text {
    margin-top: 2rem;
    max-width: 70%;
    text-align: center;
    line-height: 1.5;
}

/* Timeline style */
section.timeline-section {
    display: flex;
    justify-content: flex-start;
    padding: 5rem;
    height: 100vh;
    background-color: #394032;
}


.timeline-title {
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;
    position: absolute;
    left: 10rem;
    top: 45rem;
}

.timeline-title h2 {
    font-size: 3rem;
}

.timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 10rem;
}

.flourish-cards {
    width: 85%;
    padding: 0 0 2rem;
}

.timeline-text {
    width: 85%;
}

/* BUBBLE CHART */
section.bubbles-section {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    height: 100vh;
}

.bubble-content {
    display: flex;
    justify-content: space-evenly;
}

.bubble-title {
    padding-bottom: 2%;
    padding-left: 5%;
}

.bubble-text {
    width: 40%;
    align-self: center;
}

.bubble-text h3 {
    padding: 0 0 2rem;
}


.flourish-bubble-chart {
    width: 40%;
}

/*budget-revenue*/
section.budget-revenue {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    height: 100vh;
}

.budget-content {
    display: flex;
    justify-content: space-evenly;
}

.budget-text {
    width: 40%;
    align-self: center;
}

.budget-text h3 {
    padding: 0 0 2rem;
}

.flourish-chart {
    width: 35%;
}



/*SONG Section*/
section.top-song {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.song-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    padding: 3rem 5rem;
    margin-bottom: 5vh;
}

.song-card.top-1 {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 50vw;
}

/* Carte de chanson */
.song-card {
    display: flex;
    gap: 1vw;
    padding: 1rem;
    width: 100%;
    max-width: 30vw;
    overflow: hidden;
}

.song-card:hover {
    transform: none;
}

.song-info h4 {
    font-size: 1.2rem;
}

.song-info p {
    font-size: 1rem;
    color: #ffffff;
}

.popularity {
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 200;
}

.ranking {
    font-size: 2rem;
    left: 10px;
    color: white;
    padding: 1rem;
}

.song-card img {
    width: 15%;
    height: 15%;
    border-radius: 8px;
    object-fit: cover;
}

/* Disposition des rangées */
.song-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Permet à l'élément de passer à la ligne suivante si besoin */
    gap: 2vh;
    /* Espacement entre les cartes */
    align-items: flex-start;
    border-bottom: 0.05vh solid white;
}

.song-text {
    width: 70%;
}



/* pied de page */
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    padding: 5%;
    width: 100%;

}




@media (max-width: 1024px) {

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    body {
        font-size: 1rem;
    }

    .logo-container {
        padding-left: 5vw;
    }

    .logo {
        max-width: 70%;
    }

    .logo-text {
        font-size: 0.7rem;
    }

    .h-image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    }

    .popup-menu {
        padding-right: 5vw;
        width: 30vw;
    }
}

@media (max-width: 768px) {

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.75rem;
    }

    body {
        font-size: 1rem;
    }

    /*header*/
    .header-container {
        flex-direction: column;
        padding: 1rem;
    }

    .logo-container {
        width: 30vw;
        gap: 1vw;
        padding-left: 0vw;
    }

    .logo-text {
        font-size: 0.4rem;
    }

    .h-image-grid {
        padding-top: 1vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 5px;
        max-width: 100%;
    }

    .h-image-grid .image img {
        object-fit: cover;
    }


    .popup-menu {
        width: 100%;
        padding: 3rem;
    }

    .popup-menu ul li a {
        font-size: 1rem;
    }

    /*presentation*/
    section.presentation-section {
        padding: 0.5rem;
    }

    .p-titre h2 {
        font-size: 1rem;
        text-align: center;
    }

    .p-text {
        font-size: 1rem;
        margin-top: 0.5rem;
        line-height: 1.2;
        max-width: 90%;
    }

    /*timeline*/
    section.timeline-section,
    section.bubbles-section,
    section.budget-revenue,
    section.top-song {
        padding: 0.5rem;
    }

    .timeline-title {
        left: 3vw;
        top: 50vh;
    }

    .timeline-title h2 {
        font-size: 1.5rem;
    }

    .timeline-content {
        margin-left: 10vw;
    }

    .flourish-cards {
        width: 100%;
        padding: 0;
    }

    .timeline-text {
        width: 90%;
    }

    /*bubbles*/
    .bubble-content {
        flex-direction: column;
    }

    .bubble-text {
        width: 90%;
    }

    .flourish-bubble-chart {
        width: 90%;
        align-self: center;
    }

    /*budget*/
    .budget-content {
        flex-direction: column;
    }

    .budget-text {
        width: 90%;
        order: 0;
        padding-bottom: 2vh;
    }

    .flourish-chart {
        width: 90%;
        align-self: center;
        order: 1;
    }

    /*song*/
    .song-container {
        width: 100%;
        padding: 1rem;
    }

    .song-card {
        max-width: 90%;
    }


    .song-info h4 {
        font-size: 1rem;
    }

    .song-info p {
        font-size: 0.8rem;
    }

    .popularity {
        font-size: 0.7rem;
    }

    .ranking {
        font-size: 1.5rem;
    }

    /* Si tu veux que les rangées de chansons ne s'écrasent pas sur les petits écrans */
    .song-row {
        flex-direction: column;
        /* Empile les éléments dans une seule colonne sur mobile */
        align-items: center;
        /* Centrer les éléments */
    }

}