body {
    margin: 10px;
    padding: 10px;
    font-family: "Altivo";
    color:#394032;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    padding: 60px;
}

.logo {
    max-width: 250px;
    height: auto;
}

.header-text {
    font-size: 14px;
    font-family: "KitSans";
    text-align: right;
    line-height: 1.2;
}

.image-container img {
    border-radius: 10px;
}

.graphique1 {
    margin-top: 20px;
    padding: 20px;
}

.flourish-embed img {
    width: 100%;
    height: auto;
}
