/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Base Styles */
body {
    font-family: "Outfit", sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
    transition: background-color 0.3s ease;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
    transition: background-color 0.3s ease;

}

h2 {
    font-family: "KitSans";
    font-size: 2.5rem;
    line-height: 1.2;
    color: #D6E6B2;
}

h3 {
    font-family: "KitSans";
    font-size: 2rem;
    line-height: 1.2;
    color: #D6E6B2;
}

/* Header */
header {
    position: relative;
    margin-bottom: 10rem;
    top: 3vh;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

/* LOGO */
/* animation logo */
@keyframes fadeLogo {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
}

.logo {
    animation: fadeLogo 1s ease-in-out forwards;
    opacity: 0;
    max-width: 200px;
    height: auto;
}

.logo-text {
    animation: fadeText 1s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
    font-family: "KitSans", sans-serif;
    font-size: 18px;
    color: #394032;
    line-height: 1;
}

/* IMAGE GRID */
.h-image-grid {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(100, 1fr));
    gap: 10px;
    max-width: 75%;
}

.image1 {
    grid-area: 1/1/6/5;
}

.image2 {
    grid-area: 1/5/5/8;
}

.image3 {
    grid-area: 1/8/3/10;
}

.image4 {
    grid-area: 6/1/9/3;
}

.image5 {
    grid-area: 6/3/9/5;
}

.image6 {
    grid-area: 5/5/9/8;
}

.image7 {
    grid-area: 3/8/6/10;
}

.image8 {
    grid-area: 6/8/9/10;
}


/* Animation fadeIn */
.h-image-grid .image img {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.h-image-grid .image1 img {
    animation-delay: 0.4s;
}

.h-image-grid .image2 img {
    animation-delay: 0.6s;
}

.h-image-grid .image3 img {
    animation-delay: 0.8s;
}

.h-image-grid .image4 img {
    animation-delay: 0.8s;
}

.h-image-grid .image5 img {
    animation-delay: 1s;
}

.h-image-grid .image6 img {
    animation-delay: 1.2s;
}

.h-image-grid .image7 img {
    animation-delay: 1s;
}

.h-image-grid .image8 img {
    animation-delay: 1.2s;
}


.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* Menu hamburger*/
.menu-barre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 5vw;
    z-index: 3;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #BC4749;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


/* Quand le menu est ouvert (ajout de la classe "open") */
.menu-barre.open .bar:nth-child(1) {
    width: 50%;

}

.menu-barre.open .bar:nth-child(2) {
    width: 70%;
}

.menu-barre.open .bar:nth-child(3) {
    width: 50%;
}

/* Cacher le hamburger */
.menu-barre.hidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


/* Popup menu */
.popup-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 200rem;
    height: 100vh;
    background-color: #F2FBE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 2;
}

/* Menu visible */
.popup-menu.open {
    transform: translateX(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Liste des liens */
.popup-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

.popup-menu ul li {
    margin: 20px 0;
}

.popup-menu ul li a {
    color: #A68A64;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s ease;
}

.popup-menu ul li a:hover {
    color: #BC4749;
}

/* animation section */
.presentation-section,
.timeline-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5 ease-out;
}

.presentation-section.visible,
.timeline-section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Texte de presentation*/
section.presentation-section {
    display: flex;
    justify-content: center;
    padding: 5rem;
    margin-bottom: 10rem;
    height: 100vh;
}

.presentation-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #394032;
}

.p-titre h2 {
    color: #BC4749;
}

.p-text {
    margin-top: 2rem;
    max-width: 70%;
    text-align: center;
    line-height: 1.5;
}

/* Timeline style */
section.timeline-section {
    display: flex;
    padding: 10rem;
}

#timeline {
    background-color: #394032;
}

.timeline-title {
    padding: 0 2rem 0;
}

.timeline-text {
    width: 80%;
}

.flourish-cards {
    width: 100%;
}


/* BUBBLE CHART */
section.bubbles-section {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.bubble-content {
    display: flex;
    justify-content: space-evenly;
}

.bubble-title {
    padding: 0 0 2rem;
}

.bubble-text {
    width: 40%;
    align-self: center;
}

.flourish-bubble-chart {
    width: 40%;
}


/*budget-revenue*/
section.budget-revenue {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.budget-content {
    display: flex;
    justify-content: space-evenly;
}

.budget-text {
    width: 40%;
    align-self: center;
}

.budget-text h3 {
    padding: 0 0 2rem;
}

.flourish-chart {
    width: 30%;
}

/* pied de page */
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
    width: 100%;

}


@media (max-width: 1024px) {
    .h-image-grid {
        grid-template-columns: repeat(8, 1fr);
    }

    .logo {
        width: 150px;
    }

    .logo-text {
        font-size: 14px;
    }

}

@media (max-width: 768px) {
    .h-image-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo {
        width: 100px;
    }

    .logo-text {
        font-size: 9px;
    }

    section.presentation {
        padding: 3rem;
    }

    .p-text-container {
        padding: 0 1rem;
    }

    .p-text {
        max-width: 90%;
        font-size: 1rem;
    }
}